header{
    font-family: 'Orbitron', sans-serif;
    background-image: url(back.jpg);
    background-size: cover;
    color: #f8d092;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #25245d;
    height: 80px;
    font-size: 60px;

}

#title a{
    color: #f8d092;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #25245d;
    list-style: none;
    text-decoration: none;
   
}

body{
    font-size:20px;
    padding: 0px;
    margin: 0px;
    background-image: url(leiloes.jpg);
    background-size: cover;
    height: 500px 80px;
    background-position: top;
}

#barra1 ul{
    margin: 0;
    background-color: #553867;
    list-style: none;
}

#barra1 li{
    display: inline;
}

#barra1 a{
    font-family: 'Orbitron', sans-serif;
    padding: 5px 50px;
    display: inline-block;
    color: #f8d092;
    -webkit-text-stroke-width: 0.2px; 
    -webkit-text-stroke-color: #25245d;
    text-decoration: none;
}

#barra1 a:hover{
    color: #571c56;
}

#le1{
    font-family: 'Orbitron', sans-serif;
    padding: 5px 80px;
    text-align: center;
    color: #f8d092;
    -webkit-text-stroke-width: 0.5px; 
    -webkit-text-stroke-color: #25245d;
    float: left;
    width: 50%;
    font-size: 30px;
}

#le2{
    font-family: 'Orbitron', sans-serif;
    padding: 5px 80px;
    text-align: center;
    color: #f8d092;
    -webkit-text-stroke-width: 0.5px; 
    -webkit-text-stroke-color: #25245d;
    float: right;
    width: 50%;
    font-size: 30px;
}

#le3{
    font-family: 'Orbitron', sans-serif;
    padding: 5px 80px;
    text-align: center;
    color: #f8d092;
    -webkit-text-stroke-width: 0.5px; 
    -webkit-text-stroke-color: #25245d;
    float: left;
    width: 50%;
    font-size: 30px;
}

#le4{
    font-family: 'Orbitron', sans-serif;
    padding: 5px 80px;
    text-align: center;
    color: #f8d092;
    -webkit-text-stroke-width: 0.5px; 
    -webkit-text-stroke-color: #25245d;
    float: right;
    width: 50%;
    font-size: 30px;
}