header{
    font-family: 'Orbitron', sans-serif;
    background-image: url(back.jpg);
    background-size: cover;
    color: #f8d092;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #25245d;
    height: 80px;
    font-size: 60px;

}

#title a{
    color: #f8d092;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #25245d;
    list-style: none;
    text-decoration: none;
   
}

body{
    font-size:20px;
    padding: 0px;
    margin: 0px;
    background-image: url(sobre.jpg);
}

#barra1 ul{
    margin: 0;
    background-color: #553867;
    list-style: none;
}

#barra1 li{
    display: inline;
}

#barra1 a{
    font-family: 'Orbitron', sans-serif;
    padding: 5px 50px;
    display: inline-block;
    color: #f8d092;
    -webkit-text-stroke-width: 0.2px; 
    -webkit-text-stroke-color: #25245d;
    text-decoration: none;
}

#barra1 a:hover{
    color: #571c56;
}

#hist{
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    font-size: 25px;
    text-align: center;
    left:25%;
    top:30%;
    right: 15%;
    bottom: 40%;
    margin-left:-110px;
    color: #f8d092;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #553867;
    opacity: 0.75;
    background: linear-gradient(to bottom, #1b6141, #153428);
    border-radius: 10px 10px 10px 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #404245;
}


